.toplevel_page_powertools #wpcontent {
    padding: 20px;
}

.ptools-settings {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.ptools-settings-title {
    font-weight: normal;
    letter-spacing: -0.01em;
    font-size: 48px;
    margin-bottom: 40px;
}

.ptools-metabox {
    background: #fff;
    border: 1px solid rgba(0,10,30,0.05);
    border-radius: 20px;

    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ptools-metabox-footer {
    border-top: 1px solid rgba(0,10,30,0.1);

    margin-top: 30px;
    padding-top: 15px;
}

.powertools-toggler {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.ptools-toggler {
    display: flex;
    gap: 5px;
}

.ptools-toggler-content {
    flex: 1;
}

.ptools-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ptools-card {
    background: #fff;
    border-radius: 20px;
    display: block;
    flex-basis: 300px;
    padding: 30px;
}


.ptools-intro {
    background: #fff;
    border-radius: 20px;

    display: flex;
    align-items: center;
}

.ptools-intro-logo {
    padding: 30px;
}

.ptools-intro-logo img {
    display: block;
    width: 56px;
    height: auto !important; 
}

.ptools-intro-content {
    padding: 30px;
}

.ptools-intro h1 {
    letter-spacing: -0.02em;
    margin-top: 0;
}
